Source: openmediavault-supportinfo
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 7 )
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/simple/index.php?id=how-to-install-supportinfo-plugin

Package: openmediavault-supportinfo
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.5), openmediavault (<< 0.6)
Description: OpenMediaVault support panel
 This panel shows important information that a
 moderator may be looking for when asking
 for support in the OpenMediaVault forum.
